In [ ]:
import pandas as pd
import numpy as np
data= {"name":[ "a","b",np.nan],
      "age":["25",np.nan,"12"],
      "cholestrol":[210,np.nan,230],
      "BMI":[21,45,np.nan]}
df=pd.DataFrame(data)
print(df.isnull().sum())

name          1
age           1
cholestrol    1
BMI           1
dtype: int64

In [ ]:
df_cleaned=df.dropna()
print(df_cleaned)

  name age  cholestrol   BMI
0    a  25       210.0  21.0

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame({
    'marks':[20,30,20,40,np.nan,50,np.nan,50,20,10,np.nan,30],
    'age':[20,20,np.nan,30,90,np.nan,80,14,50,40,70,30]
})

df['marks'].fillna(int(df['marks'].mean()),inplace=True)
print(df)

    marks   age
0    20.0  20.0
1    30.0  20.0
2    20.0   NaN
3    40.0  30.0
4    30.0  90.0
5    50.0   NaN
6    30.0  80.0
7    50.0  14.0
8    20.0  50.0
9    10.0  40.0
10   30.0  70.0
11   30.0  30.0

<ipython-input-3-2e7a9787083d>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['marks'].fillna(int(df['marks'].mean()),inplace=True)

In [ ]:
df.ffill(inplace=True)
df.bfill(inplace=True)
df.drop_duplicates(inplace=True)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df_scaled=df.copy()
df_scaled[["marks","age"]]=scaler.fit_transform(df[["marks","age"]])
print(df_cleaned)

  name age  cholestrol   BMI
0    a  25       210.0  21.0